In [1]:
pip install linearmodels

Requirement already satisfied: linearmodels in /usr/local/lib/python3.6/dist-packages (4.13)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.3.0)
Requirement already satisfied: statsmodels>=0.8 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.10.1)
Requirement already satisfied: patsy in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.5.1)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.16.4)
Requirement already satisfied: cached-property>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.5.1)
Requirement already satisfied: mypy-extensions>=0.4 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.4.1)
Requirement already satisfied: pandas>=0.20 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy->linearmodels) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20->linearmodels) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20->linearmodels) (2018.9)

In [0]:
import pandas as pd
import numpy as np
from linearmodels.iv import IV2SLS

In [3]:
file = "https://github.com/VitorKamada/ECO6100/raw/master/Data/MROZ.DTA" 
df = pd.read_stata(file)
df.head()

   inlf  hours  kidslt6  kidsge6  ...  exper   nwifeinc     lwage  expersq
0     1   1610        1        0  ...     14  10.910060  1.210154      196
1     1   1656        0        2  ...      5  19.499981  0.328512       25
2     1   1980        1        3  ...     15  12.039910  1.514138      225
3     1    456        0        3  ...      6   6.799996  0.092123       36
4     1   1568        1        2  ...      7  20.100058  1.524272       49

[5 rows x 22 columns]

In [4]:
df[['wage','educ','exper','motheduc','fatheduc']].describe()

             wage        educ      exper    motheduc    fatheduc
count  428.000000  753.000000  753.00000  753.000000  753.000000
mean     4.177680   12.286853   10.63081    9.250996    8.808765
std      3.310283    2.280246    8.06913    3.367468    3.572290
min      0.128200    5.000000    0.00000    0.000000    0.000000
25%      2.262600   12.000000    4.00000    7.000000    7.000000
50%      3.481900   12.000000    9.00000   10.000000    7.000000
75%      4.970750   13.000000   15.00000   12.000000   12.000000
max     25.000000   17.000000   45.00000   17.000000   17.000000

In [5]:
mod1 = 'np.log(wage) ~ 1 + exper + expersq + educ'
reg1 = IV2SLS.from_formula(mod1, df).fit(cov_type='robust')
print(reg1)

                            OLS Estimation Summary
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                      0.1568
Estimator:                        OLS   Adj. R-squared:                 0.1509
No. Observations:                 428   F-statistic:                    82.671
Date:                Mon, Aug 05 2019   P-value (F-stat)                0.0000
Time:                        18:40:19   Distribution:                  chi2(3)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept     -0.5220     0.2007    -2.6010     0.0093     -0.9154     -0.1287
exper          0.0416     0.0152     2.7344     0.0063      0.0118      0.0714
expersq       -0.0008     0.0004    -1.9402     0.0524     -0.0016   8.276e-06
educ           0.1075     0.0132     8.1697     0.0000      0.0817      0.1333
==============================================================================

/usr/local/lib/python3.6/dist-packages/linearmodels/utility.py:478: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [6]:
mod2 = 'np.log(wage) ~ 1 + exper + expersq + [educ ~ motheduc + fatheduc]'
reg2 = IV2SLS.from_formula(mod2, df).fit(cov_type='robust')
print(reg2)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                      0.1357
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1296
No. Observations:                 428   F-statistic:                    18.611
Date:                Mon, Aug 05 2019   P-value (F-stat)                0.0003
Time:                        18:40:20   Distribution:                  chi2(3)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      0.0481     0.4278     0.1124     0.9105     -0.7903      0.8865
exper          0.0442     0.0155     2.8546     0.0043      0.0138      0.0745
expersq       -0.0009     0.0004    -2.1001     0.0357     -0.0017  -5.997e-05
educ           0.0614     0.0332     1.8503     0.0643     -0.0036      0.1264
==============================================================================

Endogenous: educ
Instruments: motheduc, fatheduc
Robust Covariance (Heteroskedastic)
Debiased: False

/usr/local/lib/python3.6/dist-packages/linearmodels/utility.py:478: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [7]:
print(reg2.first_stage)

    First Stage Estimation Results
======================================
                                  educ
--------------------------------------
R-squared                       0.2115
Partial R-squared               0.2076
Shea's R-squared                0.2076
Partial F-statistic             100.22
P-value (Partial F-stat)        0.0000
Partial F-stat Distn           chi2(2)
========================== ===========
Intercept                       9.1026
                              (21.588)
exper                           0.0452
                              (1.0854)
expersq                        -0.0010
                             (-0.7671)
motheduc                        0.1576
                              (4.4718)
fatheduc                        0.1895
                              (5.8771)
--------------------------------------

T-stats reported in parentheses
T-stats use same covariance type as original model