In [0]:
import pandas as pd
file = "https://github.com/VitorKamada/ECO6100/raw/master/Data/AEJfigs.dta" 
df = pd.read_stata(file)

In [2]:
df.head()

     agecell        all  ...  externalother  externalotherfitted
0  19.068493  92.825401  ...       8.534373             8.388236
1  19.150684  95.100739  ...       8.655786             8.530174
2  19.232876  92.144295  ...       8.513741             8.662681
3  19.315069  88.427757  ...       8.258285             8.785728
4  19.397261  88.704941  ...       8.417533             8.899288

[5 rows x 19 columns]

In [3]:
df.describe()

         agecell         all  ...  externalother  externalotherfitted
count  50.000000   48.000000  ...      48.000000            50.000000
mean   21.000000   95.672722  ...       9.598516             9.610210
std     1.126957    3.831062  ...       0.748369             0.465128
min    19.068493   88.427757  ...       7.972546             8.388236
25%    20.075342   92.785927  ...       9.148840             9.347155
50%    20.999995   95.686272  ...       9.560833             9.690198
75%    21.924658   98.025749  ...      10.122497             9.938511
max    22.931507  105.268349  ...      11.482519            10.353402

[8 rows x 19 columns]

In [0]:
import numpy as np            
df['const'] = 1
df['age'] = df['agecell'] - 21
df['over21'] = np.where(df['agecell'] >=21, 1, 0)
df['over21_age'] = df['age']*df['over21']
df['age2'] = df['age']*df['age']
df['over21_age2'] = df['age2']*df['over21']

In [5]:
df.head()

     agecell        all  allfitted  ...  over21_age      age2  over21_age2
0  19.068493  92.825401  91.706146  ...        -0.0  3.730720          0.0
1  19.150684  95.100739  91.883720  ...        -0.0  3.419968          0.0
2  19.232876  92.144295  92.049065  ...        -0.0  3.122728          0.0
3  19.315069  88.427757  92.202141  ...        -0.0  2.838992          0.0
4  19.397261  88.704941  92.342918  ...        -0.0  2.568773          0.0

[5 rows x 25 columns]

In [6]:
import statsmodels.api as sm
result1 = sm.OLS(df['all'], df[['const', 'age', 'over21']],
                    missing='drop').fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    all   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.577
Method:                 Least Squares   F-statistic:                     32.99
Date:                Mon, 05 Aug 2019   Prob (F-statistic):           1.51e-09
Time:                        18:49:05   Log-Likelihood:                -110.41
No. Observations:                  48   AIC:                             226.8
Df Residuals:                      45   BIC:                             232.4
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         91.8414      0.805    114.083      0.000      90.220      93.463
age           -0.9747      0.632     -1.541      0.130      -2.249       0.299
over21         7.6627      1.440      5.320      0.000       4.762      10.564
==============================================================================
Omnibus:                        0.189   Durbin-Watson:                   1.617
Prob(Omnibus):                  0.910   Jarque-Bera (JB):                0.194
Skew:                           0.131   Prob(JB):                        0.907
Kurtosis:                       2.831   Cond. No.                         6.07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
result2 = sm.OLS(df['all'],
                    df[['const', 'age', 'over21', 'over21_age']],
                    missing='drop').fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    all   R-squared:                       0.668
Model:                            OLS   Adj. R-squared:                  0.645
Method:                 Least Squares   F-statistic:                     29.47
Date:                Mon, 05 Aug 2019   Prob (F-statistic):           1.33e-10
Time:                        18:49:05   Log-Likelihood:                -105.64
No. Observations:                  48   AIC:                             219.3
Df Residuals:                      44   BIC:                             226.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         93.6184      0.932    100.399      0.000      91.739      95.498
age            0.8270      0.819      1.010      0.318      -0.823       2.477
over21         7.6627      1.319      5.811      0.000       5.005      10.320
over21_age    -3.6034      1.158     -3.111      0.003      -5.937      -1.269
==============================================================================
Omnibus:                        0.294   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.863   Jarque-Bera (JB):                0.411
Skew:                           0.167   Prob(JB):                        0.814
Kurtosis:                       2.693   Cond. No.                         7.75
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
result3 = sm.OLS(df['all'],
                    df[['const', 'age', 'age2', 'over21']],
                    missing='drop').fit()
print(result3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    all   R-squared:                       0.657
Model:                            OLS   Adj. R-squared:                  0.634
Method:                 Least Squares   F-statistic:                     28.12
Date:                Mon, 05 Aug 2019   Prob (F-statistic):           2.61e-10
Time:                        18:49:05   Log-Likelihood:                -106.38
No. Observations:                  48   AIC:                             220.8
Df Residuals:                      44   BIC:                             228.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         92.9027      0.837    110.994      0.000      91.216      94.590
age           -0.9747      0.588     -1.657      0.105      -2.160       0.211
age2          -0.8187      0.289     -2.835      0.007      -1.401      -0.237
over21         7.6627      1.339      5.721      0.000       4.963      10.362
==============================================================================
Omnibus:                        0.311   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.856   Jarque-Bera (JB):                0.476
Skew:                           0.148   Prob(JB):                        0.788
Kurtosis:                       2.612   Cond. No.                         9.39
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
result4 = sm.OLS(df['all'],
                    df[['const', 'age', 'age2', 
                        'over21', 'over21_age', 'over21_age2']],
                    missing='drop').fit()
print(result4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    all   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     18.02
Date:                Mon, 05 Aug 2019   Prob (F-statistic):           1.62e-09
Time:                        18:49:05   Log-Likelihood:                -104.57
No. Observations:                  48   AIC:                             221.1
Df Residuals:                      42   BIC:                             232.4
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          93.0729      1.404     66.301      0.000      90.240      95.906
age            -0.8306      3.290     -0.252      0.802      -7.470       5.809
age2           -0.8403      1.615     -0.520      0.606      -4.100       2.419
over21          9.5478      1.985      4.809      0.000       5.541      13.554
over21_age     -6.0170      4.653     -1.293      0.203     -15.407       3.373
over21_age2     2.9042      2.284      1.271      0.211      -1.706       7.514
==============================================================================
Omnibus:                        0.040   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.980   Jarque-Bera (JB):                0.203
Skew:                           0.049   Prob(JB):                        0.903
Kurtosis:                       2.697   Cond. No.                         40.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
df1 = df[df['agecell'] >= 20]
df1 = df1[df1['agecell'] <= 22]
result5 = sm.OLS(df1['mva'],
                    df1[['const', 'age', 'age2', 
                        'over21', 'over21_age', 'over21_age2']],
                    missing='drop').fit(cov_type='HC1')
print(result5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mva   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.493
Method:                 Least Squares   F-statistic:                     7.672
Date:                Mon, 05 Aug 2019   Prob (F-statistic):           0.000513
Time:                        18:49:05   Log-Likelihood:                -36.118
No. Observations:                  24   AIC:                             84.24
Df Residuals:                      18   BIC:                             91.31
Df Model:                           5
Covariance Type:                  HC1
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          30.1883      0.562     53.716      0.000      29.087      31.290
age             0.6801      3.816      0.178      0.859      -6.800       8.160
age2            4.4599      4.716      0.946      0.344      -4.783      13.702
over21          5.8925      1.329      4.433      0.000       3.287       8.498
over21_age    -15.1667      6.351     -2.388      0.017     -27.614      -2.720
over21_age2     6.9652      7.053      0.988      0.323      -6.858      20.789
==============================================================================
Omnibus:                        0.816   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.665   Jarque-Bera (JB):                0.587
Skew:                           0.366   Prob(JB):                        0.746
Kurtosis:                       2.774   Cond. No.                         50.5
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)